.album-card {
  background: #fff;
  transition: all 0.25s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  overflow: visible !important;
   z-index: 1;
}

.album-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12);
   z-index: 10;
}

.dropdown-menu {
  z-index: 9999 !important;
}

.row {
  overflow: visible !important;
}

.dots:hover {
  color: #007bff;
  transform: scale(1.2);
  transition: all 0.2s ease;
}

.image-card {
  overflow: hidden;
}

.image-preview {
  transition: transform 0.3s ease;
}

.image-card:hover .image-preview {
  transform: scale(1.08);
}